# Desafio Python e SQL

### Read com pd.read_sql

In [1]:
import pandas as pd
import sqlite3

In [2]:
conexao = sqlite3.connect('chinook.db')
print('conexao bem sucedida')

conexao bem sucedida

In [3]:
tabela_clientes = pd.read_sql("SELECT * FROM customers", conexao)
#display da tabel

In [4]:
conexao.close()